@inherits MainLayoutBase

<MudThemeProvider @ref="ThemeProvider" @bind-IsDarkMode="IsDarkMode" Theme="Themes.Theme.Yeti" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="flex-container">

    <div class="top-row">
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.BarChart" Title="Logo" />
            <MudText Typo="Typo.h5">Planner</MudText>
        </MudStack>
        <MudSpacer/>
        <MudToggleIconButton @bind-Toggled="IsDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             title="@(IsDarkMode ? "Switch to Light mode" : "Switch to Dark mode")" />
    </div>

    <div class="main-content-row">
        <div class="column left-column">
            <MyNavMenu />
        </div>
        <div class="column right-column">
            @Body
        </div>
    </div>
</div>